In [1]:
import re

In [2]:
string = '''Elon musk's number is +1-(637)-376-6743 and naveen's numeber is 7708649007. Use what number you want'''

In [10]:
pattern = "\+\d-\(\d{3}\)-\d{3}-\d{4} | \d{10}"

In [11]:
matches = re.findall(pattern, string)

In [12]:
matches

['+1-(637)-376-6743 ', ' 7708649007']

In [13]:
data = '''theis is the sample data
Note 1 this is sample column
sjhgad daskjad ajshgsdkald
Note 2 yjos ios seconsd ausdojdmm iuhdan
jsahdjhsab aihdjsnd ahkdnan'''

In [17]:
pattern = 'Note \d [^\n]*'
pattern2 = 'Note \d ([^\n]*)'

In [18]:
matches = re.findall(pattern, data)

In [19]:
matches

['Note 1 this is sample column', 'Note 2 yjos ios seconsd ausdojdmm iuhdan']

In [20]:
matches1 = re.findall(pattern2, data)

In [21]:
matches1

['this is sample column', 'yjos ios seconsd ausdojdmm iuhdan']